.flex-container {
    display: flex;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    color:antiquewhite;
    background-color:black;
    z-index: 5;

}

#logo {
    width: 30%;
}

#stagesuperstore {
    width: 300px;
    height: 50px;
    margin-top: 25px;
    margin-left: 30px;
}

#title {
    width: 40%;
    text-align: center;
    text-justify: center;
}

#info {
    width: 30%;
    text-align: end;
    margin-right: 30px;
}

#main {
   position: relative;
   top: 100px;
   z-index: 0;
}

#amp {
    width: 600px;
    height: 300px;
}